USE [master]
GO
/****** Object:  Database [PlaceCar]    Script Date: 21-04-24 23:12:14 ******/
CREATE DATABASE [PlaceCar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlaceCar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLINSTANCE_1\MSSQL\DATA\PlaceCar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlaceCar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLINSTANCE_1\MSSQL\DATA\PlaceCar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlaceCar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlaceCar]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adresses]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresses](
	[ADRS_Id] [int] IDENTITY(1,1) NOT NULL,
	[ADRS_Numero] [int] NOT NULL,
	[ADRS_NomRue] [nvarchar](max) NOT NULL,
	[ADRS_Ville] [nvarchar](max) NOT NULL,
	[ADRS_Latitude] [decimal](6, 2) NOT NULL,
	[ADRS_Longitude] [decimal](6, 2) NOT NULL,
	[PaysId] [int] NOT NULL,
 CONSTRAINT [PK_Adresses] PRIMARY KEY CLUSTERED 
(
	[ADRS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Cli_Id] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Cli_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompteBank]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompteBank](
	[CB_Id] [int] IDENTITY(1,1) NOT NULL,
	[CB_Nom] [nvarchar](max) NOT NULL,
	[CB_NumCompte] [nvarchar](max) NOT NULL,
	[CB_Date] [datetime2](7) NOT NULL,
	[ClientId] [int] NOT NULL,
 CONSTRAINT [PK_CompteBank] PRIMARY KEY CLUSTERED 
(
	[CB_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Emp_Pers_Id] [int] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Emp_Pers_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeWorkOn]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeWorkOn](
	[Emp_Pers_Id] [int] NOT NULL,
	[ParkingId] [int] NOT NULL,
 CONSTRAINT [PK_Employe_parking] PRIMARY KEY CLUSTERED 
(
	[Emp_Pers_Id] ASC,
	[ParkingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facture]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facture](
	[FACT_Id] [int] IDENTITY(1,1) NOT NULL,
	[FACT_Somme] [decimal](6, 2) NOT NULL,
	[FACT_Date] [datetime2](7) NOT NULL,
	[ReservationId] [int] NOT NULL,
	[TransactionId] [int] NOT NULL,
 CONSTRAINT [PK_Facture] PRIMARY KEY CLUSTERED 
(
	[FACT_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormuleDePrix]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormuleDePrix](
	[FORM_Id] [int] IDENTITY(1,1) NOT NULL,
	[FORM_Prix] [decimal](6, 2) NOT NULL,
	[TypeId] [int] NOT NULL,
	[ParkingId] [int] NOT NULL,
 CONSTRAINT [PK_FormuleDePrix] PRIMARY KEY CLUSTERED 
(
	[FORM_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormulesPrixType]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormulesPrixType](
	[FORM_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[FORM_Title] [nvarchar](max) NOT NULL,
	[FORM_Type_Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_FormulesPrixType] PRIMARY KEY CLUSTERED 
(
	[FORM_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfoEntreprise]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoEntreprise](
	[Nom] [nvarchar](250) NOT NULL,
	[Cb_NumCompte] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_InfoEntreprise] PRIMARY KEY CLUSTERED 
(
	[Nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parkings]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parkings](
	[PARK_Id] [int] IDENTITY(1,1) NOT NULL,
	[PARK_Nom] [nvarchar](max) NOT NULL,
	[PARK_NbEtages] [int] NOT NULL,
	[PARK_NbPlaces] [int] NOT NULL,
	[AdreseId] [int] NOT NULL,
 CONSTRAINT [PK_Parkings] PRIMARY KEY CLUSTERED 
(
	[PARK_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pays]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pays](
	[PAYS_Id] [int] IDENTITY(1,1) NOT NULL,
	[PAYS_Nom] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Pays] PRIMARY KEY CLUSTERED 
(
	[PAYS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personne]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personne](
	[PERS_Id] [int] IDENTITY(1,1) NOT NULL,
	[PERS_Nom] [nvarchar](max) NOT NULL,
	[PERS_Prenom] [nvarchar](max) NOT NULL,
	[PERS_DateNaissance] [datetime2](7) NOT NULL,
	[PERS_Email] [nvarchar](450) NOT NULL,
	[PERS_Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Personne] PRIMARY KEY CLUSTERED 
(
	[PERS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Places]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Places](
	[PLA_Id] [int] IDENTITY(1,1) NOT NULL,
	[PLA_Etage] [int] NOT NULL,
	[PLA_NumeroPlace] [int] NOT NULL,
	[ParkingId] [int] NOT NULL,
 CONSTRAINT [PK_Places] PRIMARY KEY CLUSTERED 
(
	[PLA_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Preference]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Preference](
	[PlaceId] [int] NOT NULL,
	[ParkingId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
 CONSTRAINT [PK_Preference] PRIMARY KEY CLUSTERED 
(
	[PlaceId] ASC,
	[ParkingId] ASC,
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[RES_Id] [int] IDENTITY(1,1) NOT NULL,
	[RES_DateReservation] [datetime2](7) NOT NULL,
	[RES_DateDebut] [datetime2](7) NOT NULL,
	[RES_DateFin] [datetime2](7) NULL,
	[RES_DureeTotal_Initiale] [decimal](3, 2) NOT NULL,
	[RES_DureeTotal_Reele] [decimal](3, 2) NOT NULL,
	[RES_Cloture] [bit] NOT NULL,
	[PlaceId] [int] NOT NULL,
	[ClientId] [int] NOT NULL,
	[FactureId] [int] NULL,
	[FormPrixId] [int] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[RES_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trensaction]    Script Date: 21-04-24 23:12:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trensaction](
	[TRANS_Id] [int] IDENTITY(1,1) NOT NULL,
	[TRANS_Somme] [decimal](8, 2) NOT NULL,
	[TRANS_Date] [datetime2](7) NOT NULL,
	[TRANS_Communication] [nvarchar](max) NOT NULL,
	[FactureId] [int] NOT NULL,
	[CompteUnId] [int] NOT NULL,
	[CompteEntreprise] [nvarchar](250) NULL,
 CONSTRAINT [PK_Trensaction] PRIMARY KEY CLUSTERED 
(
	[TRANS_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Adresses_PaysId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_Adresses_PaysId] ON [dbo].[Adresses]
(
	[PaysId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comptes_UtilisateurId]    Script Date: 21-04-24 23:12:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Comptes_UtilisateurId] ON [dbo].[CompteBank]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeWorkOn_ParkingId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_EmployeWorkOn_ParkingId] ON [dbo].[EmployeWorkOn]
(
	[ParkingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FormuleDePrix_TypeId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_FormuleDePrix_TypeId] ON [dbo].[FormuleDePrix]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Formules_ParkingId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_Formules_ParkingId] ON [dbo].[FormuleDePrix]
(
	[ParkingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Parkings_AdreseId]    Script Date: 21-04-24 23:12:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Parkings_AdreseId] ON [dbo].[Parkings]
(
	[AdreseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pays_PAYS_Nom]    Script Date: 21-04-24 23:12:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Pays_PAYS_Nom] ON [dbo].[Pays]
(
	[PAYS_Nom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Personne_PERS_Email]    Script Date: 21-04-24 23:12:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Personne_PERS_Email] ON [dbo].[Personne]
(
	[PERS_Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Places_ParkingId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_Places_ParkingId] ON [dbo].[Places]
(
	[ParkingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Preference_ClientId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_Preference_ClientId] ON [dbo].[Preference]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Preference_ParkingId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_Preference_ParkingId] ON [dbo].[Preference]
(
	[ParkingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservation_FormPrixId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_Reservation_FormPrixId] ON [dbo].[Reservation]
(
	[FormPrixId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservation_PlaceId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_Reservation_PlaceId] ON [dbo].[Reservation]
(
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_FactureId]    Script Date: 21-04-24 23:12:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Reservations_FactureId] ON [dbo].[Reservation]
(
	[FactureId] ASC
)
WHERE ([FactureId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_UtilisateurId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_UtilisateurId] ON [dbo].[Reservation]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_FactureId]    Script Date: 21-04-24 23:12:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Transactions_FactureId] ON [dbo].[Trensaction]
(
	[FactureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Trensaction_CompteEntreprise]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_Trensaction_CompteEntreprise] ON [dbo].[Trensaction]
(
	[CompteEntreprise] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Trensaction_CompteUnId]    Script Date: 21-04-24 23:12:14 ******/
CREATE NONCLUSTERED INDEX [IX_Trensaction_CompteUnId] ON [dbo].[Trensaction]
(
	[CompteUnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Adresses]  WITH CHECK ADD  CONSTRAINT [FK_Adresses_Pays_PaysId] FOREIGN KEY([PaysId])
REFERENCES [dbo].[Pays] ([PAYS_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Adresses] CHECK CONSTRAINT [FK_Adresses_Pays_PaysId]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_Personne] FOREIGN KEY([Cli_Id])
REFERENCES [dbo].[Personne] ([PERS_Id])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_Personne]
GO
ALTER TABLE [dbo].[CompteBank]  WITH CHECK ADD  CONSTRAINT [FK_Comptes_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Cli_Id])
GO
ALTER TABLE [dbo].[CompteBank] CHECK CONSTRAINT [FK_Comptes_Client]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Personne] FOREIGN KEY([Emp_Pers_Id])
REFERENCES [dbo].[Personne] ([PERS_Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Personne]
GO
ALTER TABLE [dbo].[EmployeWorkOn]  WITH CHECK ADD  CONSTRAINT [FK_EmployeWorkOn_Employee_Emp_Pers_Id] FOREIGN KEY([Emp_Pers_Id])
REFERENCES [dbo].[Employee] ([Emp_Pers_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeWorkOn] CHECK CONSTRAINT [FK_EmployeWorkOn_Employee_Emp_Pers_Id]
GO
ALTER TABLE [dbo].[EmployeWorkOn]  WITH CHECK ADD  CONSTRAINT [FK_EmployeWorkOn_Parkings_ParkingId] FOREIGN KEY([ParkingId])
REFERENCES [dbo].[Parkings] ([PARK_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeWorkOn] CHECK CONSTRAINT [FK_EmployeWorkOn_Parkings_ParkingId]
GO
ALTER TABLE [dbo].[FormuleDePrix]  WITH CHECK ADD  CONSTRAINT [FK_FormuleDePrix_FormulesPrixType_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[FormulesPrixType] ([FORM_Type_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FormuleDePrix] CHECK CONSTRAINT [FK_FormuleDePrix_FormulesPrixType_TypeId]
GO
ALTER TABLE [dbo].[FormuleDePrix]  WITH CHECK ADD  CONSTRAINT [FK_FormuleDePrix_Parkings_ParkingId] FOREIGN KEY([ParkingId])
REFERENCES [dbo].[Parkings] ([PARK_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FormuleDePrix] CHECK CONSTRAINT [FK_FormuleDePrix_Parkings_ParkingId]
GO
ALTER TABLE [dbo].[Parkings]  WITH CHECK ADD  CONSTRAINT [FK_Parkings_Adresses_AdreseId] FOREIGN KEY([AdreseId])
REFERENCES [dbo].[Adresses] ([ADRS_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Parkings] CHECK CONSTRAINT [FK_Parkings_Adresses_AdreseId]
GO
ALTER TABLE [dbo].[Places]  WITH CHECK ADD  CONSTRAINT [FK_Places_Parkings_ParkingId] FOREIGN KEY([ParkingId])
REFERENCES [dbo].[Parkings] ([PARK_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Places] CHECK CONSTRAINT [FK_Places_Parkings_ParkingId]
GO
ALTER TABLE [dbo].[Preference]  WITH CHECK ADD  CONSTRAINT [FK_Preferences_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Cli_Id])
GO
ALTER TABLE [dbo].[Preference] CHECK CONSTRAINT [FK_Preferences_Client]
GO
ALTER TABLE [dbo].[Preference]  WITH CHECK ADD  CONSTRAINT [FK_Preferences_Parkings] FOREIGN KEY([ParkingId])
REFERENCES [dbo].[Parkings] ([PARK_Id])
GO
ALTER TABLE [dbo].[Preference] CHECK CONSTRAINT [FK_Preferences_Parkings]
GO
ALTER TABLE [dbo].[Preference]  WITH CHECK ADD  CONSTRAINT [FK_Preferences_Places] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Places] ([PLA_Id])
GO
ALTER TABLE [dbo].[Preference] CHECK CONSTRAINT [FK_Preferences_Places]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Facture_FactureId] FOREIGN KEY([FactureId])
REFERENCES [dbo].[Facture] ([FACT_Id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Facture_FactureId]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Places_PlaceId] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Places] ([PLA_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Places_PlaceId]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Cli_Id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservations_Client]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_FormulesPrix] FOREIGN KEY([FormPrixId])
REFERENCES [dbo].[FormuleDePrix] ([FORM_Id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservations_FormulesPrix]
GO
ALTER TABLE [dbo].[Trensaction]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Comptes] FOREIGN KEY([CompteUnId])
REFERENCES [dbo].[CompteBank] ([CB_Id])
GO
ALTER TABLE [dbo].[Trensaction] CHECK CONSTRAINT [FK_Transactions_Comptes]
GO
ALTER TABLE [dbo].[Trensaction]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_InfoEntreprise] FOREIGN KEY([CompteEntreprise])
REFERENCES [dbo].[InfoEntreprise] ([Nom])
GO
ALTER TABLE [dbo].[Trensaction] CHECK CONSTRAINT [FK_Transactions_InfoEntreprise]
GO
ALTER TABLE [dbo].[Trensaction]  WITH CHECK ADD  CONSTRAINT [FK_Trensaction_Facture_FactureId] FOREIGN KEY([FactureId])
REFERENCES [dbo].[Facture] ([FACT_Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Trensaction] CHECK CONSTRAINT [FK_Trensaction_Facture_FactureId]
GO
USE [master]
GO
